
/* .hero-body {
background-color: #fff;

} */

html {
    overflow: hidden;
    height: 100%;
}
/* 
body {
    height: 100%;
    overflow: auto;
} */


.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}


.date-div h2 {
  font-size: 44px;
  font-display: bold;
  /* background-color: chartreuse; */
  min-width: 100vw;
  text-align: left;
  font-family: 'Verdana';
  padding-left: 20px;
  line-height: 3rem;
}

#date {
  font-size: 33px;
  text-align: left;
  padding-left: 20px;
}

h1.title {
  font-size: 44px;
  color: purple;
  position: absolute;
  left: 15px;
  top: 15px;
  text-transform: lowercase;
}

h1.subtitle {
  color: #D3D3D3;
}

.img-cont {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("hand-drawn-romantic-flesh-art-of-a-crystal-ball-in-psychics-hands-with-eye-in-it-vector-illustrati_u-l-q1amcrx0.jpg");
  background-repeat: no-repeat;
  background-position: center; */
}

.crystal {
  border-radius: 80%;
  margin: auto;
  border: 1px solid purple;
  opacity: .3;
   transition: opacity .5s ease-out;
   -moz-transition: opacity .5s ease-out;
   -webkit-transition: opacity .5s ease-out;
   -o-transition: opacity .5s ease-out;
   min-height: 33vh;
   align-self: center;
   z-index: -20%;
   

   width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #f0f,   /* inner left magenta short */
        inset -20px 0 80px #0ff,  /* inner right cyan short */
        inset 20px 0 300px #f0f,  /* inner left magenta broad */
        inset -20px 0 300px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #f0f,        /* outer left magenta */
        10px 0 80px #0ff;         /* outer right cyan */
}

.crystal:hover {
  opacity: .5;
}


.new-horo-h1 {
  font-size: 66px;
  max-width: 100vw;
  max-height: 100vh;
  /* color: midnightblue; */
  font-weight: bold;
  text-align: left;
  text-align: left;
  line-height: normal;
  font-family: 'Courier New', Courier, monospace;
  border: navy solid 5px;
  padding: 33px;
  background-color: #fff;
  overflow: hidden;

  color: midnightblue;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

label {
  color: chartreuse;
}

button {
cursor: pointer;
color: #333;
border: 2px solid #333;
border-radius: 30px;
/* background: ; */
font-size: 22px;
font-weight: bold;
display: inline-block;
line-height: 0px;
padding: 11px 3px;
}

button:hover {
  background: red;
  border: solid white 2px;
  color: white;
}

.submit-btn {
  margin: auto;
  border: solid #333 3px;
  font-size: large;
  position: relative;
  right: 0;
  text-transform: uppercase;
  color: #333;
  padding: 11px;
  font-weight: bold;
  font-family: 'Verdana';
}

.submit-btn:hover {
  background-color: chartreuse;
  color: #333;
  border: solid #333 3px;
}
/* .del-btn {
  background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA 51%, #1D2B64 100%)
} */ 

/* .del-btn:hover { 
  background-position: right center; 
} */

.is-ancestor {
  padding: 20px;
} 

#new-horo-btn {
  /* justify-content: center; */
  background-color: rebeccapurple;
  font-weight: light;
  border: solid 3px purple;
  box-shadow: rebeccapurple 3px;
  color: ghostwhite;
  font-family: 'Verdana';
}

#new-horo-btn:hover {
  opacity: .9;
}

form {
  font-size: 44px;
  font-weight: bold;
  padding: 33px;
  background-color: white;
  color: black;
  border: solid black 3px;
  font-family: 'Courier New', Courier, monospace;
  color: transparent;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 22px; 
}

select {
  font-size: 44px;
}

.tile {
  flex-wrap: wrap
}

.is-child {
  border: 1px solid grey;
}

.is-child:hover {
  border: 1.5px solid grey;
}


/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

* {
	box-sizing: border-box;
}

html body.dark-theme {
  background-color: #000;
  overflow: hidden;
}

body {
	background-color: #fff;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
	transition: all ease-in-out 0.3s;

  min-height: 100vh;
	font-family: 'Verdana', sans-serif;
  margin: 0;

  overflow: hidden;
  /* height: 100%; */
}

body.dark-theme {
  background-color: #000;
}

body.dark-theme.hero-body {
  background-color: #000;
}

body.dark-theme form {
  background-color: grey;
  color: white;
  border: solid #333 3px;
  color: transparent;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 18px; 
}

.text-container {
	max-width: 600px;
	text-align: center;
}

h2 {
	margin-bottom: 0;
}

h3 {
	color: #0054B0;
}

p {
	letter-spacing: 1px;
}

body.dark-theme.title h1, body.dark-theme.date-div h2 {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

body.dark-theme p {
  /* color: #ddd; */
  color: grey;
}

body.dark-theme article {
  background: #000;
}

.toggle input[type=checkbox] {
	display: none;
}

.toggle label {
	background-color:aqua;
	border: 2px solid #555;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
  position: fixed;
  right: 0;
	transition: all ease-in-out 0.3s;
	width: 100px;
  height: 50px;
  padding: 20px;
  margin: 20px;
}

.toggle label::after {
  
	background-color: aquamarine;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 2px;
	transition: all ease-in-out 0.3s;
	width: 42px;
	height: 42px;
}

.toggle input[type=checkbox]:checked ~ label {
	background-color: purple;
  border-color: #222;
}

.toggle input[type=checkbox]:checked ~ label::after {
	background-color: blueviolet;
	transform: translateX(50px);
}

footer {
    background-color: #111;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

.fa-heart {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    font-size: small;
  }
}