/* #cards {
  column-count: 3;
} */
.hero-body {
  background-color: black;
}

submit {
  font-size: 44px;
}

.section {
  background-color: black;
}

h1.title {
  font-size: 44px;
  color: hotpink;
}

.crystal {
  border-radius: 80%;
  margin: auto;
  border: 5px solid purple;
  opacity: .5;
   transition: opacity .5s ease-out;
   -moz-transition: opacity .5s ease-out;
   -webkit-transition: opacity .5s ease-out;
   -o-transition: opacity .5s ease-out;
}

.crystal:hover {
  opacity: 1;
}

/* p.subtitle {
  font-size: 27px;
  color: hotpink;
} */

.new-horo-h1 {
  font-size: 77px;
  color: hotpink;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  line-height: normal;
  background-color: black;
}

button {
  background-color: yellow;
  margin: auto;
}

#new-horo-btn {
  background-color: pink;
  margin: auto;
  font-weight: bold;
}

form {
  font-size: 44px;
  font-weight: bold;
  padding: 33px;
}

select {
  font-size: 44px;
}


/* span {
  font-size: 66px;
} */
