/* #cards {
  column-count: 3;
} */
/* .hero-body {
  background-color: black;
} */

h1.title {
  font-size: 44px;
  color: hotpink;
}

.crystal {
  border-radius: 80%;
  margin: auto;
}

/* p.subtitle {
  font-size: 27px;
  color: hotpink;
} */

.new-horo-h1 {
  font-size: 88px;
  color: hotpink;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  line-height: normal;
  background-color: black;
}

button {
  background-color: yellow;
  margin: auto;
}

#new-horo-btn {
  background-color: pink;
  margin: auto;
  font-weight: bold;
}

form {
  font-size: 44px;
  font-weight: bold;
}

select {
  font-size: 44px;
}

/* span {
  font-size: 66px;
} */
